* {
  font-family: 'Pixelify Sans', sans-serif;
}
body {
  margin: 40px 20%;
  background-color: #f8eded;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
p {
  font-size: 1.3rem;
}
.card {
  border: 2px solid;
  border-radius: 10px;
  margin-bottom: 40px;
}

.card-header {
  font-weight: 500;
  color: white;
  padding: 10px;
  background-color: black;
}

.card-header ul,
.card-header h1 {
  list-style-type: none;
  display: flex;
  justify-content: center;
}
.card-header ul li {
  margin-left: 20px;
}

.card-header a {
  color: inherit;
  display: flex;
  text-decoration-line: none;
}

.card-header a:hover {
  color: red;
}

.card-note {
  padding: 10px;
  width: 250px;
  color: white;
  position: relative;
  top: 60px;
  left: 20px;
  border-radius: 20px;
  background-color: black;
}

.card-about {
  font-weight: 500;
  color: #000;
  padding: 10px;
  background-color: white;
}

.card-skills {
  font-weight: 500;
  color: #000;
  padding: 10px;
  background-image: url('./pngwing.com.png');
  background-repeat: repeat;
  background-position: center;
  background-size: 500px;
  background-color: orange;
}
.card-skills h2 {
  color: white;
}
.card-skills .labels {
  text-align: center;
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
  background-color: rgb(0, 0, 0);
}
.card-skills .labels button {
  font-weight: 400;
  background-color: black;
  color: white;
  display: inline-block;
  border: 2px dashed;
  font-size: 24px;
  margin: 5px;
  transition: transform 0.2s ease-in-out;
}
.card-skills .labels button:hover {
  transform: scale(1.1);
}
.card-skills .labels button:focus {
  background-color: white;
  color: black;
  transform: scale(1.1);
}
